/* import tailwind css rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* allow the enlarging of the icons when hovered */
.icon:hover {
    transform: scale(1.1);
}

/* background image of the app */
body {
    background-image: url("../public/images/astronaut.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* sets bg colour for the header and footer */
header,
footer {
    background-color: #070506;
}

/* make the universal font using the imported Google font */
* {
    font-family: 'Space Mono', monospace;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.animate-bounce {
    animation: bounce 1.5s infinite;
}